.section {
    text-align: center;
    padding: 40px;
    width: 600px;
    margin: 0 auto;
    margin-top: 4em;

    h1 {
        font-size: 2em;
        color: #333;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2em;
        color: #555;
        margin-bottom: 30px;
    }
}




