.footer {
    position: fixed;
    margin-top: 7%;
    bottom: 0;
    width: 100%;
    padding: 13px 0 10px 0;
    background-color: #eee;
    z-index: 1;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;

        li {
            margin-right: 5px;
        }
    }

    .linkedinIcon {
        color: gray;
        font-size: 1.5em;
        text-decoration: none;

        &:hover {
            color: #0077b5;
        }
    }

    .blog {
        color: gray;
        font-size: 1.5em;
        text-decoration: none;

        &:hover {
            color: #ce8600;
        }
    }

    .developedBy {
        color: rgba(128, 128, 128, 0.356);
        width: 100%;
        margin-top: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
