@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primaria: #565F68;
  --primaria-escura: #3c4047;
  --secundaria: #787e85;
  --secundaria-escura: #565a5f;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root{
  background-color: #eee;
  height: 100%;
}

.space{
  padding: 10%;
}

